* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}



/*  LOGO SECTION CODE   */
.bill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13.8rem 0;
    position: relative;
    margin-bottom: 4rem;
}
.after-image{
    width: 83rem;
    position: absolute;
    top: 40px;
    left: 26rem;
}
.logo-section{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-bottom: 1.5rem;
}
.text,
.website-link-box,
.persion-text-section{
    display: flex;
    align-items: center;
}
.instegram-logo,
.website-logo,
.whatsapp{
    width: 2rem;
}
.facebook-logo{
    height: 2.5rem;
}
.title{
    padding-left: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.main-logo{
    height: 10rem;
    filter: brightness(0);
    opacity: 90%;
}

/*  BILL DETAILS SECTION CODE   */
.bill-details-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
span{
    padding: 0 0.2rem;
}
.persion-text{
    font-size: 3rem;
    font-weight: 600;
}
.desc{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.date{
    padding-right: 2rem;
}

/* BILL TABLE SECTION CODE   */
.table-section{
    position: relative;
}
.background-logo{
    height: 67rem;
    position: absolute;
    top: 0%;
    left: 9%;
    transform: translateX(50%,-50%);
    z-index: -1;
    opacity: 10%;
}
.bill-table{
    width:72rem;
    font-size: 1.8rem;
}
.bill-table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    direction: rtl;
    text-align: center;
    font-weight: 600;
}
tr{
    height:3rem;
}
.details-col{
    width: 35rem;
}
.code-col,
.amount-col{
    width: 5rem;
}
/* .amount-table,.amount-row,.amount-cols{
    border-collapse: collapse;
    
} */
.bill-footer{
    background-color: #fff;
    position: absolute;
    bottom: -5.57rem;
    right: 0rem;
}
.footer-des{
    display: grid;
    grid-template-columns: 9rem 44rem;
}
.addres{
    font-size: 2rem;
    font-weight: 600;
}
.details{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1.5rem;
    direction: rtl;
}
.call-number{
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    direction: ltr;
}
.number{
    direction: ltr;
}
.whatsapp-code{
    width: 10rem;
}
.note-details{
    direction: rtl;
    display: flex;
    grid-column: 1/-1;
    gap: 3rem;
}
.note-text{
    font-size: 1.4rem;
    font-weight: 600;
}
